@font-face {
    font-family:Gotham-Light;
    font-weight:normal; 
    font-style:normal; 
    src: url('/fonts/gotham-light.otf');
}
@font-face {
    font-family:Gotham-Book;
    font-weight:normal;
    font-style:normal;
    src: url('/fonts/gotham-book.otf');
}
@font-face { 
    font-family:Gotham-Medium; 
    font-weight:normal; 
    font-style:normal; 
    src: url('/fonts/gotham-medium.otf');
}
body {
    padding: 50px;
    font: 14px Gotham-Book, Helvetica, Arial, sans-serif;
}
b {
    font-family:Gotham-Medium,helvetica,arial;
}
a {
    color: #00B7FF;
}
h1 {
    font-family:Gotham-Medium, "Comic Sans MS",helvetica,arial;
    font-weight:normal;
    color:#3E885B;
}
h2 {
    font-family:Gotham-Book,helvetica,arial;
    font-weight:normal;
}
h3 {
    font-family:Gotham-Book,helvetica,arial;
    font-weight:normal;
}
li {
    font-family:Gotham-Book,helvetica,arial;
}
.menu {
    background:#333333;
    height:50px;
}
.menu ul {
    margin:0px;
    padding:0px;
}
.menu li {
    /*color:#fff;*/
    color:#85BDA6;
    display:inline-block;
    font-size:20px;
    list-style-type:none;
    line-height:40px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    width: 50%;
}
.menu li.active {
    color:#fff;
    font-family:Gotham-Medium, "Comic Sans MS",helvetica,arial;
}
.views-wrapper {
    background:#CDD;
    border:1px solid #CDD3D5;
    min-height:200px;
    text-align:center;
}
.login {
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    text-align:right;
    width:270px;
}
.login #username, #password {
    margin:0px 0px 10px 5px; 
}
.login #login-button, #logout-button, #search-button, #rent-button, #return-button {
    background:#333333;
    /*background:#3E885B;*/
    border:none;
    /*color:#fff;*/
    color:#85BDA6;
    height:30px;
    margin:10px 68px 0px 68px;
    text-align:center;
    width:120px;
}
#search-button {
    background:#333;
    color:#fff;
    font-size:25px;
    height:45px;
    margin:0px 0px 0px 15px;
    width:150px;
}
#rent-button, #return-button {
    float:right;
    height:50px;
    margin:50px 0px 50px 0px;
}
#search-box {
    border: 1px solid #CDD3D5;
    background: #333;
    color:#fff;
    font-size:25px;
    height:45px;
    padding:0px 10px;
    width:70%;
}
.search {
    margin:100px 0px;
}
.movie-list {
    margin-top:0px;
}
.movie-list img {
    float:left;
}
.single-movie {
    list-style:none;
    height:150px;
    margin:0px 50px 10px 50px; 
    padding:5px 10px 5px 5px;
}
.single-movie.active {
    background:#85BDA6;
}
.single-movie ul {
    /*color: #3E885B; */
    float: left;
    font-size: 20px;
    list-style-type: none;
    margin: 0px 20px 0px 20px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width:400px;
}
.single-movie:hover {
    background:#85BDA6;
}
/*
.single-movie .li {
    float:left;
}
*/
