.container-full.special.footer
    br
    br
    .row
        .col-lg-8.col-lg-offset-2
            p
                | Reach me at {derekduoba} at {gmail} dot {com}
                span.glyphicon.glyphicon-question-sign(aria-hidden="true")
    // /row
// /container full
