.container-full.special
            .row
                .col-lg-8.col-lg-offset-2
                    h1 Natual Language Query Project
                        .span.glyphicon.glyphicon-search(aria-hidden="true", style="float:left;font-size:36px;line-height:40px;margin-right:20px;")
                    br
                    br
                    br
            // /row
            .row
                .col-md-8.col-md-offset-2
                    p.lead
                        | Hi! My name is Derek and I'm a computer science major at the University of Massachusetts Amherst. This semester, I am working on a project aimed at determining whether inclusion of semantic information about queries could help search engines provide better results. 
                    p.lead
                        | Over time, users have learned to tailor their quieries in order to get the best results from the current generation of search engines. As a result, it is much more common to observe abbreviated queries, such as "movie nimoy director 1990s," than it is to see natural language queries, such as "the movies leonard nimoy directed during the 1990s."
                    p.lead
                        | Unfortunately, search engines regularly provide irrelevant results to user queries. For example, the aforementioned abbreviated query would almost certainly include results featuring Leonard Nimoy as an actor, as well as TV episodes he directed.
                    p.lead
                        | Now, if a search engine "understands" the meaning of a phrase, such as "directed by," is it possible for it to discard irrelevant results (e.g. where the subject in question was an actor)? The only way to find out is to perform some experiments. This is where you come in.
                    p.lead
                        | In order to start these experiments, we will need a human-verified dataset. This form asks you to help generate this dataset. To keep things (relatively) simple, we'll limit the domain of knowledge to movies, television episodes, actors/actresses, and directors (i.e. anything that can be extracted from IMDB). Read on for the details. 
            // /row
            br
            br
            br
            br
            br
        // /container full

