.success
    .row
        span.glyphicon.glyphicon-ok.large(aria-hidden="true")
        h3 You're finished! 
    br
    br
    .row
        span.glyphicon.glyphicon-ice-lolly-tasted.large(aria-hidden="true")
        h3 So, go grab a treat.    
    br
    br
    .row
        span.glyphicon.glyphicon-sunglasses.large(aria-hidden="true")
        h3 And stay awesome.
