h2(class="header")= "Movie Search"

.search
    form(action="")
        input(type="text", name="search-box", id="search-box")
        
        input(type="submit", name="search-button", id="search-button", value="Search")
