# PostgreSQL is case sensitive for database names;
# be sure to use proper capitalization.

#postgreSQLUrl = jdbc:postgresql://192.168.56.10:5432/hw2

imdbUrl = jdbc:postgresql://192.168.56.10:5432/imdb
customerUrl = jdbc:postgresql://192.168.56.10:5432/customer
postgreSQLDriver = org.postgresql.Driver
postgreSQLUser = dduoba
postgreSQLPassword = password
